{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Continental</title>
    <link  type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .bg-dark{
          background-color: #275d89be!important;
        }
        body {
          background-color: #d4b2e4d9;
        }
    </style>

<link rel="icon" href="{% static 'images/cont.jpg' %}" style="border-radius: 50%;">



<script type="text/javascript">
  var user = '{{request.user}}';

  function getToken(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  var csrftoken = getToken('csrftoken');

  function getCookie(name) {
    var cookieArr = document.cookie.split(";");
    for (var i = 0; i < cookieArr.length; i++) {
      var cookiePair = cookieArr[i].split("=");

      if (name == cookiePair[0].trim()) {
        return decodeURIComponent(cookiePair[1]);
      }
    }
    return null;
  }

  var cart = JSON.parse(getCookie('cart')); 
    if (cart == undefined) {
      cart = {}
      console.log('Cart was Created!',cart)
      document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/" }

  console.log('Cart:', cart);

  //for footer
  window.addEventListener("scroll", function() {
        var footer = document.getElementById("myFooter");
        if (window.pageYOffset > 0) {
            footer.classList.add("show-footer");
        } else {
            footer.classList.remove("show-footer");
        }
    });


</script>

  </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- <a class="navbar-brand" href="{% url 'store' %}"> <img src="{% static 'images/cc.jpg'  %}" alt="Logo"></a> -->
        <a class="navbar-brand" href="{% url 'store' %}">
          <img src="{% static 'images/cc.jpg' %}" alt="Logo" style="width: 100px; height: auto; border-radius: 2px;">
        </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'store' %}">Store<span class="sr-only">(current)</span></a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li> -->
            <!-- <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li> -->
          </ul>

          <div class="form-inline my-2 my-lg-0">
            <!-- <a href="/accounts/login"class="btn btn-warning">Login</a> -->
            {% if user.is_authenticated %}
            <!-- <h1>Hello {{ user.username }}</h1> -->
            <!-- <h1 style="color: rgb(232, 232, 239); margin-right: 10px;">Hello {{ user.username }}</h1> -->
            <h1 style="color: rgb(232, 232, 239); margin-right: 10px;margin-top: 10px; font-size: 20px;">Hello {{ user.username }},</h1>
            <a href="/accounts/logout" class="btn btn-warning"> Logout </a>
            {% else %}
            <a href="/accounts/login" class="btn btn-warning"> Login </a>
            <div style="display: inline-block; margin-left: 10px;"></div>
            <a href="signup/" class="btn btn-warning"> Signup</a>
            {% endif %}

 
            
            <a href="{% url 'cart' %}">
               <img  id="cart-icon" src="{% static 'images/cart.png' %}">
           </a>
           <p id="cart-total">{{ cartItems }}</p>

         
          </div>
        </div>
      </nav>

    <div class="container"><br>
        {% block content %}
        {% endblock content %}
    </div>
    
    <footer class="bg-light text-center text-lg-start">
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <span style="position: absolute; left: 10px;"> <img src="{% static 'images/cc.jpg' %}" alt="Logo" style="width: 100px; height: auto; border-radius: 2px;"></span>
        <span style="margin-left: 90px;">
          © 2020 Copyright:
          <a href="https://example.com" class="text-dark">All rights reserved by Akash</a>
        </span>
      </div>
    </footer>
    
    
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
</body>
</html>